pkg
*pkg.tar*
src/hexcurse*/Makefile
src/hexcurse*/config.h
src/hexcurse*/config.log
src/hexcurse*/config.status
src/hexcurse*/stamp-h1
src/hexcurse*/autom4te.cache/
.deps/
*.o
src/hexcurse*/src/hexcurse

